In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("E:\Programming\Mastering Statistics For Data Science\Employee_Salaries_Data.csv")
data.head(30)

,Employee ID,Name,Age,Years of Experience,Salary
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,David Moore,31.308182,8.766301,96460.785190
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Katelyn Hoffman,32.606208,2.304482,76002.358126
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Stacey Simpson,45.996596,2.459030,84681.069762
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,John Lamb,41.552637,6.938793,103613.397988
4,e443df78-9558-467f-9ba9-1faf7a024204,Robin Lopez,41.401315,2.653753,98013.369852
5,23a7711a-8133-4876-b7eb-dcd9e87a1613,Miss Angela Swanson DVM,18.830440,8.887242,55340.831802
6,1846d424-c17c-4279-a3c6-612f48268673,Michael Stewart,34.756739,4.172762,84251.326263
7,fcbd04c3-4021-4ef7-8ca5-a5a19e4d6e3c,Mitchell Smith,27.619691,3.505090,67729.641876
8,b4862b21-fb97-4435-8856-1712e8e5216a,Kelsey Davis,37.799246,8.845884,68451.717223
9,259f4329-e6f4-490b-9a16-4106cf6a659e,Matthew Russo,34.018496,7.961030,76158.977529
10,12e0c8b2-bad6-40fb-9948-8dec4f65d4d9,William Garcia,44.101789,8.735118,72160.653567
11,5487ce1e-af19-422a-99b8-a714e61a441c,Jennifer Miller,38.172182,6.812089,91814.102604
12,5a921187-19c7-4df4-8f4f-f31e78de5857,Jesse Sparks,42.863280,3.277549,81415.565877
13,a3f2c9bf-9c63-46b9-90f2-44556f25e2a2,Brandi Meyer,30.335809,8.820130,71825.125247
14,8d723104-f773-43c1-b458-a748e9bb17bc,Hannah Wiggins,25.555537,4.463993,76657.948491
15,85776e9a-dd84-439e-b154-5a137a1d5006,Albert Williams,30.899503,6.604913,75005.114911
16,eb2083e6-ce16-4dba-8ff1-8e0242af9fc3,Kristin Potts,34.829796,6.894504,92411.186097
17,17e0aa3c-0398-4ca8-aa7e-9d498c778ea6,Susan Williams,38.791517,4.689980,66922.626044
18,b5d32b16-6619-4cb1-9710-37d1b83e90ec,Meredith Rios,57.593090,6.228159,74696.015525
19,a0116be5-ab0c-4681-88f8-e3d0d3290a4c,Stephanie Bowman,34.577428,6.844413,57188.563910
20,d3fbf47a-7e5b-4e7f-9ca5-499d004ae545,Joshua Clark,25.440550,5.752851,31705.152762
21,baf3897a-3e70-416a-9548-5822de1b372a,Alexa Hernandez,31.540182,2.801198,79804.278932
22,101fbccc-ded7-43e8-b421-eaeb534097ca,Richard Higgins,30.364040,5.596476,82966.542983
23,38c1962e-9148-424f-aac1-c14f30e9c5cc,Marc Williams,39.814815,7.652772,58867.524694
24,247a8333-f7b0-47d2-8da8-056c3d15eef7,William Roberts,19.592030,3.610864,104046.319360
25,1759edc3-72ae-4244-8b01-63c1cd9d2b7d,Joshua Carter,35.632620,4.700731,48184.514881
26,e005b860-51ef-4922-be43-c49e149818d1,David Williams,36.565065,4.129693,70686.377760
27,7d41e602-eece-428b-bf7b-118e820865d6,Joseph Jones,37.321810,8.698527,67192.242250
28,4a84eb03-8d1f-49b7-8d2b-9deb1beb3711,Gary Perry,29.026839,6.344590,92991.688215
29,552f233a-8c25-466a-9ff3-9849b4e1357d,Terry Wells,32.620783,5.814924,92040.381549

In [3]:
Q1 = data['Years of Experience'].quantile(0.25)
Q3 = data['Years of Experience'].quantile(0.75)
Experience_IQR = Q3 - Q1
print(f"the Interquartile Range (IQR) for the years of experience is: {Experience_IQR}")

the Interquartile Range (IQR) for the years of experience is: 3.185819409346705

In [4]:
Experience_Range = data['Years of Experience'].max() - data['Years of Experience'].min()
print(Experience_Range)

9.213095854176736

In [5]:
comparison_ratio = Experience_IQR/Experience_Range

print(f'The Comparison of IQR to the range of year of Experience is :{comparison_ratio}')

The Comparison of IQR to the range of year of Experience is :0.34579249578765875

# The employee tenure distribution is moderately concentrated around the middle 50%, with some variability but not extreme. The relatively small IQR compared to the overall range points to the likelihood of a few outliers (either very experienced or very new employees), but for the most part, employees have a similar level of experience.

# Question-2

In [6]:
# Identify the employee with the maximum salary deviation from the median salary.

median_salary = data['Salary'].median()
# print(f'The median salary is : {median_salary}')

# Absolute Salary Deviation:
data["Salary_Deviation"] = abs(data['Salary'] - median_salary)

# Maximum Salary Deviation:
maxSalary = data["Salary_Deviation"].max()

maxSalary_deviation = data.loc[data['Salary_Deviation'].idxmax(), 'Employee ID']


print(f"The Employee with Maximum Salary Deviation is : {maxSalary_deviation}, with the salary of : {maxSalary}")

The Employee with Maximum Salary Deviation is : d3fbf47a-7e5b-4e7f-9ca5-499d004ae545, with the salary of : 39706.289029081156

In [7]:
# the range of the salaries across all employees.

salary_range = data['Salary'].max() - data['Salary'].min()
print(f'The range of the salaries across all employees : {salary_range}')

The range of the salaries across all employees : 72341.1665973253

In [8]:
# Compare this deviation to the range of the salaries across all employees.

salaryComparison_ratio = (maxSalary) / (salary_range)

print(f"The Salary Comparison Ratio is : {salaryComparison_ratio}")

The Salary Comparison Ratio is : 0.5488754314690473

It shows how far the employee with the maximum deviation is from the median salary compared to the total range of salaries.